@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-top: 2%;
    margin-bottom: -8%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.title h1{
    justify-content: center;
    align-items: center;
    color: white;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: url(assets/campus.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin-top: 10%;
    margin-left: 38%;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #b7ffda;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #008c45, #48d18c);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group a{
    color: #008c45;
    font-size: 12px;
    bottom: 68px;
    margin-left: 54%;
    position: absolute;
    text-decoration: none;
}

.input-group a:hover{
    text-decoration: underline;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 9%;
    background: linear-gradient(to right, #008c45, #48d18c);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

.back-btn{
    width: 10%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 1.5%;
    margin-left: 45.5%;
    border: 0;
    outline: none;
    background-color: white;
    border-radius: 30px;
    color: #008c45;
    font-weight: 600;
}

.check-box{
    margin-top: 5%;
}

span{
    color: #777;
    font-size: 12px;
    margin-left: 2%;
    margin-top: 4%;
    position: absolute;
}

#terms {
    color: #008c45;
    text-decoration: none;
    margin-left: 32%;
}

#terms:hover {
    text-decoration: underline;
}


#login{
    left: 50px;

}

#register{
    left: 450px;
    margin-top: -60px;
}
